<div *ngIf="isAdmin" style="border: 1px solid red; margin-top: 5px" fxLayoutAlign="center">
  <h2>Welcome Admin</h2>
</div>
<div  style="width:100%;" fxLayoutAlign="center center" fxLayout="column" fxLayoutGap="30px">
  <div class="containerBody" fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px" >
    <div fxLayout="column" fxFlex="35%" fxLayoutGap="2%">
      <app-ws-online [current$]="chatWith" [usersOnline$]="userOnline" (newConv)="onNewConv($event)" ></app-ws-online>
    </div>
    <div style="width: 100%; border: 1px solid gray; padding: 15px;" fxLayout="column" fxFlex="60%" fxLayoutGap="2%">
      <div style="height: 30px;" fxLayoutAlign="center center">
        <h3>{{chatWith}}  •  <small> online</small></h3>
      </div>
      <div class="msg-container" style="overflow: auto; height: 300px;">
        <div *ngIf="noMsg">
          Pas de Messages !
        </div>
        <app-ws-chat *ngFor="let message of messageList" [message]="message"></app-ws-chat>
      </div>

      <!-----------------------Textarea----------------------->
      <div style="padding: 15px; ">
        <form [formGroup]="replyMessageForm" >
          <mat-form-field style="width: 100%" appearance="fill">
            <textarea matInput placeholder="Rédiger un message ..."
                      formControlName="body"
                      cdkTextareaAutosize
                      cdkAutosizeMaxRows="5"
                      #autosize="cdkTextareaAutosize">
            </textarea>
            <button color="primary"
                    mat-mini-fab
                    matSuffix
                    [disabled]="replyMessageForm.invalid"
                    (click)="replyMessage()">
              <mat-icon>send</mat-icon>
            </button>
          </mat-form-field>
        </form>
      </div>
    </div>
  </div>
</div>
