<div *ngIf="isAdmin" style="border: 1px solid red; margin-top: 5px" fxLayoutAlign="center">
  <h2>Welcome Admin</h2>
</div>
<div class="containerBody" fxLayout="row" fxLayout.xs="column" fxLayoutGap="20PX"  >

  <div fxLayout="column" fxHide.xs fxFlex="30%" fxLayoutGap="5PX">
    <app-ws-online></app-ws-online>
  </div>
  <div fxLayout="column" fxLayoutGap="3%" fxFlex="65%">
    <mat-card>
      <mat-card-header>
        <h3 >A propos</h3>
      </mat-card-header>

    </mat-card>
    <mat-card *ngIf="isLoading" fxLayoutAlign="center center">
      <mat-card-content>
        <h2>En cours de chargement ...</h2>

        <mat-progress-spinner
          class="example-margin"
          color="primary"
          mode="indeterminate"
          value="50">
        </mat-progress-spinner>
      </mat-card-content>
    </mat-card>
    <!-------------------------GridUser-------------------------->
    <div>
      <mat-grid-list cols="9" rowHeight="200px" gutterSize="10px" style="overflow: auto; min-height: 200px;">
        <mat-grid-tile
          *ngFor="let member of userFromApi"
          [colspan]="3"
          [rowspan]="1"
          [style.background] = "'#424242'">
          <div fxLayout="column" style="width: 100%; padding: 5px;" fxLayoutAlign="center center" fxLayoutGap="3%">
          <span mat-button [routerLink]="['/profil', member._id]">
            <ngx-avatar class="pointer"
                        mat-card-avatar
                        name={{member.pseudo}}
                        src={{member.image}}
                        value="28%"
                        size="60" [round]="true">
            </ngx-avatar>
          </span>
            <b class="pointer" [routerLink]="['/profil', member._id]">{{member.prenom}}</b>
            <i class="pointer" [routerLink]="['/profil', member._id]">{{member.presentation}}</i>
            <div fxLayout="row" fxLayoutGap="3%">
              <button *ngIf="isAdmin"  color="primary" mat-stroked-button (click)="deleteUser(member)">Suprimer User</button>
              <button color="primary" mat-raised-button (click)="friendRequest(member)" >Se connecter</button>
            </div>

          </div>
        </mat-grid-tile>
      </mat-grid-list>

    </div>

  </div>
</div>
