<div *ngIf="isAdmin" style="border: 1px solid red; margin-top: 5px" fxLayoutAlign="center">
  <h2>Welcome Admin</h2>
</div>
<div class="containerBody" fxLayout="row" fxLayout.xs="column" fxLayoutGap="20PX"  >
  <!-----------userId Profil--------------------->
  <div fxLayout="column" fxFlex="35%" fxLayoutGap="5PX">
    <mat-card class="example-card" class="mat-elevation-z4">
      <mat-card-header fxLayoutGap="3%">
        <div mat-card-avatar>
          <span>
            <ngx-avatar
              mat-card-avatar
              name={{member.pseudo}}
              src={{member.image}}
              value="28%"
              size="50" [round]="true">
            </ngx-avatar>
          </span>
        </div>
        <mat-card-title>{{member.prenom}}</mat-card-title>
        <mat-card-subtitle>{{member.presentation}}</mat-card-subtitle>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content >
        <mat-list >
          <mat-list-item >
            <mat-icon matListIcon>child_care</mat-icon>
            <h4 matLine>age</h4>
            <p matSuffix="" > {{member.age}} </p>
          </mat-list-item>
          <mat-list-item >
            <mat-icon matListIcon>contact_mail</mat-icon>
            <h4 matLine>email</h4>
            <p matSuffix color="green" > {{member.email}} </p>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon routerLink="reseau">people_alt</mat-icon>
            <h4 matLine>Relations</h4>
            <p matSuffix="" > {{member.followers.length}} </p>

          </mat-list-item>
        </mat-list>
      </mat-card-content>
      <mat-card-actions align="end">
        <mat-divider></mat-divider>
        <a mat-button [routerLink] = "['/editUser', member._id]" *ngIf= "currentUser._id === member._id? true : false" >Modifier <mat-icon>edit</mat-icon></a>
        <button mat-button  *ngIf="isAdmin">Suprimer</button>
      </mat-card-actions>
    </mat-card>
    <!-----------liste des amis------------------>
    <mat-nav-list style="overflow: auto; width: 100%; height: 500px; border: 1px solid gray;">
      <mat-list-item *ngFor="let ami of mesAmis">
        <mat-divider></mat-divider>
        <span matListAvatar [routerLink]="['/profil', ami._id]">
          <ngx-avatar
            mat-card-avatar
            name={{ami.pseudo}}
            src={{ami.image}}
            value="28%"
            size="50" [round]="true">
          </ngx-avatar>
        </span>
        <i matLine [routerLink]="['/profil', ami._id]">{{ami.prenom}}</i>
        <h3 matLine [routerLink]="['/profil', ami._id]">{{ami.nom}}</h3>
        <button mat-icon-button *ngIf="isAdmin" [routerLink]="['/editUser', ami._id]" profil>
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button >
          <mat-icon>mail_outline</mat-icon>
        </button>
        <button mat-icon-button >
          <mat-icon>chat</mat-icon>
        </button>
        <button mat-icon-button *ngIf="isAdmin" (click)="deleteUser(ami)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-nav-list>
  </div>
  <!---------------UserId Posts--------------->
  <div fxLayout="column" fxFlex="60%" fxLayoutGap="2%" >
    <mat-card style="width: 100%;" *ngFor="let waste of wasteList">
      <mat-card-header fxLayoutGap="3%">
        <div mat-card-avatar>
          <span>
            <ngx-avatar
              mat-card-avatar
              name={{waste.author.nom}}
              src={{waste.author.image}}
              value="28%"
              size="50" [round]="true">
            </ngx-avatar>
          </span>
        </div>
        <mat-card-title>{{waste.author.nom}}</mat-card-title>
        <mat-card-subtitle>posté -- <i>{{updateFromNow(waste.date)}}</i></mat-card-subtitle>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content >
        <br>
        <p>{{waste.body}}</p>
      </mat-card-content>
      <div fxLayout="row" fxLayoutAlign="stert center" fxLayoutGap="3%">
        <p><span>{{waste.like.length}}&nbsp;</span>likes</p>
      </div>
      <mat-card-actions>
        <mat-divider></mat-divider>
        <button mat-button (click)="onClickLike(waste._id)">
          <mat-icon matPrefix>thumb_up_alt</mat-icon>
          like
        </button>
        <button mat-button (click)="onClickComment(waste._id)">
          <mat-icon matPrefix>chat</mat-icon>
          Comment
        </button>
      </mat-card-actions>
      <!----------------------------comments---------------------------->

    </mat-card>
  </div>

</div>
