<div style="width: 100%; border: 1px solid gray;" fxLayout="column">

  <!-----------Liste Conversations--------------------->
  <div fxLayoutAlign="center" >
    <h3>Chat !</h3>
  </div>
  <mat-divider></mat-divider>
  <mat-nav-list style="overflow: auto; width: 100%; height: 300px;">
    <mat-list-item (click)="onUserClick('chat-room')">
      <h3 matLine>CHAT-ROOM</h3>
      <mat-icon>chat</mat-icon>
      <mat-divider></mat-divider>
    </mat-list-item>
    <mat-list-item *ngFor="let user of usersOnline$" (click)="onUserClick(user.nom)">
      <mat-divider></mat-divider>
      <span matListAvatar >
        <ngx-avatar
          mat-card-avatar
          name={{user.nom}}
          src= {{user.image}}
          value="28%"
          size="50" [round]="true">
        </ngx-avatar>
      </span>
      <i matLine >{{user.nom }}</i>
      <small matLine>click and get chat with me !</small>
      <button mat-icon-button >
        <mat-icon>chat</mat-icon>
      </button>
    </mat-list-item>
  </mat-nav-list>
</div>
